<h1>Log In</h1>

<form action="<%= session_url %>" method="post">
  <label for="username">Username</label>
  <input id="username" name="session[username]" />
  <br />
  <br />

  <label for="password">Password</label>
  <input id="password" name="session[password]" />
  <br />
  <br />

  <button>Login</button>
</form>